// Variáveis SCSS (& Sass) do Quasar
// --------------------------------------------------
// Para customizar a aparência deste app, você pode sobrescrever
// as variáveis Sass/SCSS encontradas nos arquivos fonte do Quasar.

// Verifique a documentação para a lista completa de variáveis do Quasar

// Suas próprias variáveis (declaradas aqui) e as do Quasar
// estarão disponíveis diretamente em seus arquivos .vue/.scss/.sass

// É altamente recomendado alterar as cores padrão
// para corresponder à identidade visual do seu app.
// Dica: Use o "Theme Builder" na documentação do Quasar.

$primary:   #9c27b0; // O roxo principal usado para botões e estados ativos
$secondary: #3F51B5; // A cor azul/índigo usada para a tag 'Singer'
$accent:    #E040FB; // Um roxo/magenta mais brilhante para destaques, se necessário

$dark:      #1d1d1d; // Mantido o padrão, combina com os fundos do card/sidebar/header
$dark-page: #121212; // Mantido o padrão, combina com o fundo principal da página

$positive:  #21ba45;
$negative:  #c10015;
$info:      #31ccec;
$warning:   #f2c037;